# Test environment configuration
# Copy and rename this file to .env.test for local testing

# Test server URL
TEST_BASE_URL=http://localhost:5050

# Test user credentials
TEST_USERNAME=
TEST_PASSWORD=


# Other test-related settings
# ENABLE_DEBUG=true